html,
*{
  box-sizing: border-box;
}
.container{
  padding: 10% 0 0 0;
}

.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0%;
}

.sidenav a {
  position: relative;
  padding: 0% 3% 3% 12%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:10%;
  left:70%;
  font-size: 200%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.navbar-brand{
  position: relative;
  font-size: 130%;
  margin-right:auto;
}

.open{
  position: relative;
  font-size:100%;
  cursor:pointer;
  color:white;
  margin-right:auto;
}



#data_list{
  width:100%;
  font-size:3vmin;
  left:20%;
  font-family: "Lucida Console";

}

#bd{
  left:80%;
  transition: 0.5s;
}
@media only screen and (max-width: 1300px) {
  
  #data_list{
    width:100%;
    font-size:150%;
    left:20%;
    font-family: "Lucida Console";
  
  }
}



@media only screen and (max-width: 650px) {
  
  #data_list{
    width:100%;
    font-size:110%;
    left:40%;
    font-family: "Lucida Console";
  
  }
}