html,
*{
  box-sizing: border-box;
}
.container{
  padding: 10% 0 0 0;
}

.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0%;
}

.sidenav a {
  position: relative;
  padding: 0% 3% 3% 12%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:10%;
  left:70%;
  font-size: 200%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar-brand{
  position: relative;
  font-size: 130%;
  margin-right:auto; 
}

.open{
  position: relative;
  font-size:100%;
  cursor:pointer;
  color:white;
  margin-right:auto; 
  
}


#data_list{
  width:100%;
  font-size:4vmin;
  left:20%;
  font-family: "Lucida Console";

}
#makemypage{
  font-size:100%;
  left:20%;
  font-family: "Lucida Console";

}
#Img{
  width:25%;
  height: 25%;
  font-size:170%;
  left:20%;
  font-family: "Lucida Console";

}

#bd{
  left:80%;
  transition: 0.5s;
}
#top-right-email{
  font-size:4vmin;
}

@media only screen and (max-width: 1300px) {
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    padding-bottom: 3%;
    padding-right:10%;
  }

  #bd{
    top:10%;
    left:80%;
    transition: 0.5s;
  }
  #Img{
    padding-top:20%;
    width:50%;
    height: 50%;
    font-size:170%;
    left:20%;
    font-family: "Lucida Console";
  
  }
  #data_list{
    width:100%;
    font-size:150%;
    left:20%;
    font-family: "Lucida Console";
  
  }
}



@media only screen and (max-width: 650px) {
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left:10%;
    padding-bottom: 3%;
  }

  #bd{
    top:10%;
    left:90%;
    transition: 0.5s;
  }
  #Img{
    top:30%;
    width:60%;
    height: 60%;
    font-size:170%;
    left:40%;
    font-family: "Lucida Console";
  
  }
  #data_list{
    width:100%;
    font-size:110%;
    left:40%;
    font-family: "Lucida Console";
  
  }
}
