html,
*{
  box-sizing: border-box;
}
.container{
  padding: 10% 0 0 0;
}

.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5%;
}

.sidenav a {
  position: relative;
  padding: 3% 3% 3% 12%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:10%;
  left:70%;
  font-size: 200%;
}

.navbar-brand{
  position: relative;
  font-size: 150%;
  margin-right:auto; 
}

.open{
  position: relative;
  font-size:150%;
  cursor:pointer;
  color:white;
  margin-right:auto; 
  
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 4%;}
.sidenav a {font-size: 6%;}
}

#data_list{
  font-size:200%;
  text-align: left;
  left:20%;
  font-family: "Lucida Console";

}
#Img{
  font-size:200%;
  text-align: left;
  left:20%;
  font-family: "Lucida Console";

}

#bd{
  left:80%;
  transition: 0.5s;
}

